[2018-08-22 05:35] abidlabs opened #31 "Internationalization"

[2018-08-22 15:18] abidlabs opened #32 "Show verses with fewer submissions and/or shorter verses with higher probability."
When we suggest random ayahs for onboarding, it would be good to preferentially suggest those verses that have fewer submissions. On the other hand, we should also filter by length so that people are not overwhelmed by a very large ayah.

[2018-08-22 15:19] abidlabs opened #33 "Audio evaluation by automatic and human-reviewed annotations"
A lot of people will submit blank recordings as they learn to use the system. Can we automatically learn to exclude these in the ayah count and the bias for the random picker?

[2018-08-26 01:36] abidlabs opened #46 "Without microphone access, skips to end after one ayah"
If microphone access isn't provided, then for some reason, it skips to the very end after 1 ayah.

[2018-08-26 01:41] aliabd opened #48 "Add autocomplete on heritage in last onbording page"
User should be able pick country faster by typing first letter

[2018-08-28 17:46] aliabd opened #60 "Mismatch between ayah counters"
When I created this issue, it said 945 near logo, 952 in about page counter, and 944 in subscribe page

[2018-08-29 05:31] tifa2UP opened #62 "Make the repo public before launching"

[2018-08-29 05:59] abidlabs opened #63 "Search only seems to work in Arabic"
We should either enable searching in English, or for now, we can put in a message saying it's only Arabic search. What do you think @tifa2UP?

[2018-08-29 07:44] abidlabs opened #65 "Update logo"

[2018-08-29 08:32] abidlabs commented on #62
Done!!

[2018-08-29 08:32] #62 closed

[2018-08-29 08:37] abidlabs commented on #60
There still seems to be a discrepancy, because we add 1 to the count value when display it in navbar using `renderCounter()`. Why is that? @bahaa96

[2018-08-29 08:50] #63 closed

[2018-08-29 08:53] abidlabs commented on #46
@tifa2UP this is still an issue -- namely, if I:
1) Open up Tarteel in incognito
2) Click start
3) Click the mic to record on the first ayah
4) *Ignore the dialog box that pop ups in chrome asking for mic permissions* (as people might if they don't see it
5) Click stop recording
6) Then click next ayah

Instead of a helpful message telling them to grant permissions, they are immediately transporte

[2018-08-29 08:53] #46 closed

[2018-08-29 09:11] #65 closed

[2018-08-29 09:18] abidlabs opened #66 "Social media sharing pics should be updated with new logo"
@tifa2UP can you handle this?

[2018-08-29 09:46] abidlabs commented on #60
Never mind, I see the reason. I've subtracted one from the counter, so it should be consistent now.

[2018-08-29 09:46] #60 closed

[2018-08-29 12:05] bahaa96 commented on #48
![sdsfdsf](https://user-images.githubusercontent.com/8254655/44786457-79b1b900-ab94-11e8-8d65-376b6f17ceff.PNG)

* I Chose this Icon cause it's a HTML entity not an image

[2018-08-30 04:32] abidlabs opened #70 "Popup messages during onboarding"
People are confused by certain buttons, such as the "redo" button. We could tell people during onboarding what buttons do.

[2018-08-30 04:33] abidlabs opened #71 "Notification that recording is not on"
Some people recite an entire ayah before realizing that they forgot to start recording. Perhaps if we detect noise, we can tell people to turn the mic on?

[2018-08-30 04:35] abidlabs opened #72 "Sometimes the ayah image doesn't show up"
I've heard from several people that the ayah image didn't show up. They had to click "next ayah" and then "previous ayah" for the image to show up.

[2018-08-30 04:35] abidlabs opened #73 "When the continuous recording toggle is turned off, the recording should automatically stop."

[2018-08-30 06:02] bahaa96 commented on #72
I'll try to reproduce this issue some how but I guess It's not easy to get reproduced

[2018-08-30 06:29] #48 closed

[2018-08-30 12:21] MahmoudMabrok opened #74 "No Indication that recording start"
I clicked on Record Icon but No Indication that recording start.

[2018-08-30 17:03] abidlabs commented on #72
Yes that was my impression as well. And the issue only seems to happen once -- once you click on "next ayah" and "previous ayah", it goes away completely.

[2018-08-30 17:03] abidlabs commented on #73
You're write, it seems like I got old feedback

[2018-08-30 17:03] #73 closed

[2018-08-30 18:06] abidlabs opened #75 "Have a page that shows demographic breakdown"
- Users/ayahs
- Gender, race, age, qira'ah

[2018-08-30 18:06] abidlabs opened #77 "Add qira'ah to demographic info form"

[2018-08-30 18:09] abidlabs opened #78 "Ayahs seem to take long to load on Safari"
Heard this from one iPhone user on Wifi

[2018-08-30 18:42] abidlabs opened #79 "Streamline deploy script so Tarteel deploys faster"
Reducing downtime each time we deploy

[2018-08-30 18:43] abidlabs opened #80 "Add CI tests"
For now, I am testing critical features (like making sure audio files are deployed correctly) manually. We should add continuous integration tests.

[2018-08-30 20:00] abidlabs commented on #75
@aliabid94 Can you make a new public-facing page "/demographics" and plot these demographics from the DB? Another good thing would be distributions of # recordings / ayah (e.g. how many ayahs have 0 recordings, how many have 1, etc.)

[2018-08-30 20:53] aliabd commented on #75
I'd really like to help with this

[2018-08-30 21:27] mohamedgomran opened #81 "Adding example settings.py file"
Can you please add an example for settings.py?

[2018-08-30 23:47] abidlabs commented on #66
Done.

[2018-08-30 23:47] #66 closed

[2018-08-30 23:55] abidlabs commented on #74
@MahmoudMabrok do you still see this issue? We deployed a PR that should have fixed issues related to mic permissions.

[2018-08-31 03:21] abidlabs opened #82 "Tag audio by recording mode"
We should know whether the audio comes from
- continuous mode
- discrete mode
as it may be useful down the line when we're training ML models

[2018-08-31 03:23] abidlabs opened #83 "Ayah Images / non-Uthmani Fonts"
Right now, we're using images for all of the ayahs, that creates issues on mobile when the width of the ayah is very long. The better option would be to have use a nice font. If we go down this route, we should also support the desi-style font, as I've heard from a couple of desis that they're finding it hard to read this style.

[2018-08-31 03:24] abidlabs opened #84 "Look into server logs"
Examine server logs for 500 errors, and what might be causing them

[2018-08-31 03:28] abidlabs commented on #75
Sounds good. My suggestion is that we can have a public-facing demographics breakdown that replaces the demographics form when the user has already filled out the demographics form.

[2018-08-31 03:35] abidlabs commented on #81
@mohamedgomran thanks for the suggestion, will do.

[2018-08-31 07:27] abidlabs opened #85 "iOS users on web can't proceed after ayah 4 or 5"
There's a strange error when iOS users (using safari) cannot proceed beyond ayah 4 or 5. They click the mic, but the UI does not reflect any change, and they can't proceed.

@tifa2UP @bahaa96 can you guys take a look at this if you have iPhones?

[2018-08-31 10:27] abidlabs commented on #81
For now, check out tarteel.io/docs/example-settings.py.

If you move it into hifz_django/. and rename it as "settings.py," that should be enough to be able to work locally. We're working on a better fix in the near future inshaallah.

[2018-08-31 10:27] abidlabs commented on #81
Let me know if you run into any further issues.

[2018-08-31 10:27] #81 closed

[2018-08-31 10:27] abidlabs opened #86 "Rename django apps to be more logical"
"hifz_django"
"quickstart"

don't really make sense.

[2018-08-31 11:27] mohamedgomran commented on #81
@abidlabs Thank you.

[2018-08-31 11:33] mohamedgomran opened #87 "Firefox: navigator.getUserMedia is not a function"
While trying to start recording on Firefox I get navigator.getUserMedia is not a function.

I believe this is because getUserMedia() is deprecated on Firefox, must use navigator.mediaDevices.getUserMedia().

https://developer.mozilla.org/en-US/docs/Web/API/Navigator/getUserMedia#Browser_compatibility

[2018-08-31 12:01] mohamedgomran commented on #77
@abidlabs You mean the ten types of Qira'ah?

[2018-08-31 19:12] abidlabs commented on #77
I believe there are 10 yes: Hafs, Warsh, ...

On Fri, Aug 31, 2018 at 5:01 AM Mohamed Omran <notifications@github.com>
wrote:

--
Abubakar Abid
Department of Electrical Engineering
Stanford University || Paul & Daisy Soros Fellow
@abidlabs <https://twitter.com/abidlabs> || www.abubakarabid.com

[2018-09-01 03:02] tifa2UP opened #89 "Ayah Image not loading"
Not sure if this is a duplicate, but as I was reading Surat Alkahf ayah 47 I got an empty screen. This happened after going through 47 ayas.

P.S. Was fixed after refreshing the page. Not sure if this has to do with API limits @abidlabs

![image](https://user-images.githubusercontent.com/11590314/44941754-ce059600-ad58-11e8-851c-c60041ece0fc.png)

[2018-09-01 03:28] tifa2UP commented on #89
Update: it looks like it just much takes more time to load.

P.S. I've overserved this continuous recitation mode. Not the regular one

[2018-09-01 03:30] tifa2UP commented on #78
related to #89 perhaps we can have some caching mechanism on web

[2018-09-01 03:31] tifa2UP commented on #82
+1. I also assume that there will be more errors in continuous mode

[2018-09-01 15:46] bahaa96 commented on #89
Is This issue still exists ? Someone has committed a preload for the images.

[2018-09-01 16:16] bahaa96 commented on #87
Thanks a lot bro for reporting this issue 😍😘. It's fixed now will be in production in few hours.

[2018-09-01 16:16] #87 closed

[2018-09-01 21:03] tifa2UP commented on #89
I'll check it. feel free to close for now

[2018-09-01 23:48] 3bdoelnaggar opened #91 "mobile app issues with next button"
When i hit next nosing happens

[2018-09-02 01:15] bahaa96 commented on #91
Could you explain to us how to reproduce this issue ?

[2018-09-02 01:54] tifa2UP commented on #91
I've experienced this as well. A little difficult to reproduce, might have to do with the async stuff.

[2018-09-02 01:56] tifa2UP opened #92 "Update contact info"
Use tarteel@abdellatif.io as the new email

One mobile, replace contact@tarteel.io with it.

On web, add it to the about page

[2018-09-02 01:59] tifa2UP opened #93 "Suggestion: Add description to the about page counter"
![image](https://user-images.githubusercontent.com/11590314/44951435-dc1aeb80-ae18-11e8-92d3-d926519a57c6.png)

How about we add Ayas recited under the total number. And below it, we say, "You recited: [number] Ayas"

Also, should we include the total ayas recorded on the landing page (pre-onboarding)? The design could be the same as the navbar design.

[2018-09-02 02:04] tifa2UP opened #94 "Nit: add link to website on repo website field"

[2018-09-02 21:26] bahaa96 commented on #91
@3bdoelnaggar Do you mean The green next button ?

[2018-09-03 00:59] 3bdoelnaggar commented on #91
Yes

[2018-09-03 06:48] bahaa96 commented on #91
@3bdoelnaggar If it's fixed now ?

[2018-09-03 07:36] #92 closed

[2018-09-03 07:37] #82 closed

[2018-09-03 09:49] #91 closed

[2018-09-03 11:29] mohamedgomran commented on #83
@abidlabs It would be more efficient to display it as a text with me_quran, Scheherazade, KacstQurn, or KFGQPC Uthman font.

I can do it and make a pull request, what do you think?

[2018-09-03 17:09] tifa2UP commented on #92
Mailto is more than enough. Thanks @bahaa96!

[2018-09-03 17:23] tifa2UP opened #96 "Redirect www.tarteel.io to tarteel.io"
Right now we have two web apps tareel.io and www.tarteel.io, the settings do not sync between the two of the two of them. We can overcome this problem by redirecting the www. to tarteel.io.

Also, it looks like we're not enforcing https.

[2018-09-03 17:34] tifa2UP opened #97 "Discussion: User experience of Qir'ah choice"

[2018-09-03 17:39] tifa2UP commented on #96
+ force https

[2018-09-03 17:41] abidlabs commented on #96
This is strange, I had https redirect in the settings.py on the server.
I'll check to see what changed.

On Mon, Sep 3, 2018 at 10:39 AM Abdellatif Abdelfattah <
notifications@github.com> wrote:

--
Abubakar Abid
Department of Electrical Engineering
Stanford University || Paul & Daisy Soros Fellow
@abidlabs <https://twitter.com/abidlabs> || www.abubakarabid.com

[2018-09-03 19:46] mohamedgomran commented on #97
My be it can be like the Hertage choice with search feature to make it easier.
Putting it in a separate row would be nice as some names (like: Ibn Dhakwan) are wrapped due to the width.
About Gender, radio buttons would me more convenient, only one click needed, also why we have an option "others" in gender?

[2018-09-03 19:54] bahaa96 commented on #97
We'll work more on this section thanks for your feedback. 😘

[2018-09-03 20:11] mohamedgomran commented on #89
@tifa2UP  I think replacing images with text will be more efficient and would eliminate this issue #83, waiting for a response to start working on it.

[2018-09-03 22:45] tifa2UP commented on #89
@mohamedgomran will update you soon iA!

[2018-09-03 23:57] abidlabs commented on #94
Done

[2018-09-03 23:57] #94 closed

[2018-09-04 02:35] tifa2UP opened #98 "Navbar logo redirect to about page"
Now that we only have the navbar on the main page, do we want the logo and number to redirect to the about the page?

I would assume that when users click on the [ayas number] in the navbar, they expect to see something related to it.

[2018-09-04 05:41] tifa2UP opened #99 "Add navbar to all page"

[2018-09-05 07:56] bahaa96 commented on #96
I believe it's this one but this is my version of settings.py not the deployed one
![captureafs](https://user-images.githubusercontent.com/8254655/45079076-d4499880-b0f1-11e8-9914-fcfbaa958fd4.PNG)

[2018-09-06 07:28] abidlabs commented on #84
Don't see any concerning errors

[2018-09-06 07:28] #84 closed

[2018-09-06 07:32] #77 closed

[2018-09-06 07:59] bahaa96 commented on #96
@abidlabs Should we close this now ?

[2018-09-06 08:32] #86 closed

[2018-09-06 08:32] abidlabs commented on #86
Done

[2018-09-06 08:39] abidlabs commented on #96
Yup. @tifa2UP I also have redirect to the www. version (it's just easier to do it that way). So in summary:

* http://tarteel.io
* http://www.tarteel.io
* https://tarteel.io
* https://www.tarteel.io

should all redirect to: *https://www.tarteel.io*

[2018-09-06 08:40] #96 closed

[2018-09-06 08:41] abidlabs commented on #98
Closing since @bahaa96 has added the navbar to the about page and mobile app page. Thanks Bahaa!

[2018-09-06 08:41] #98 closed

[2018-09-06 08:42] abidlabs commented on #99
Should we close this?

[2018-09-06 08:43] abidlabs commented on #97
Looks like this is live now. Should we close this @bahaa96?

[2018-09-06 08:43] abidlabs commented on #93
This is fixed on the live website.

[2018-09-06 08:43] #93 closed

[2018-09-06 08:59] abidlabs commented on #79
Done

[2018-09-06 08:59] #79 closed

[2018-09-06 08:59] abidlabs commented on #74
Closing because it's stale.

[2018-09-06 08:59] #74 closed

[2018-09-06 09:01] abidlabs commented on #85
@tifa2UP @bahaa96 were you guys able to reproduce this issue?

[2018-09-06 13:23] tarekeldeeb opened #100 "UI Loader needed, 150 seconds before first page render"
When the tarteel.io is opened, it needs too long to render the first HTML view.
I think a simple loading applet should show as soon as possible.

Claiming to have a better than average internet speed (10Mbps), I was tricked the first time that the site was down, but when I opened the debugging sidebar (F12) I noticed that `data.js` is still loading.

It took 150 seconds to render the landing page,

[2018-09-06 13:54] tarekeldeeb opened #101 "Not Recording with Google Chrome on a PC"
Congrats for that nice project. I tried it on a smart phone and on a PC.

On PC, IE is not compatible, that's expected with no worries ..
But on Google chrome, it's expected to work. Page loads, and after "Start" is pressed, the Quran verse and the "Mic" icons are show.

When the "Mic" icons is pressed, nothing happens.
- Does not record
- Does not even ask for recording permission

On the JS cons

[2018-09-06 19:28] #99 closed

[2018-09-06 19:30] tifa2UP commented on #100
+1, thanks @tarekeldeeb!

[2018-09-06 19:30] tifa2UP commented on #100
@bahaa96 want to pick this up?

[2018-09-07 08:45] abidlabs commented on #101
More broadly speaking, we need to systematically check browser/device incompatibility.

[2018-09-07 08:47] abidlabs commented on #101
@tarekeldeeb I'm trying to reproduce this issue, but I don't experience it when I use Chrome on a PC. Could you please let me know if you are still experiencing this issue?

If so, can you check whether you are on: **http** or **https** version of the website? (In general, you should be redirected to **https** but we were at one point seeing this issue with the **http** version of the website)

[2018-09-07 08:47] abidlabs commented on #97
Looks good to me.

[2018-09-07 08:47] #97 closed

[2018-09-07 08:51] abidlabs commented on #83
Thank you @mohamedgomran for pointing this out. I think this is a great suggestion. Having the ayah text would allow us to:
* load the ayaat text faster
* allow us to adjust font sizes to get more readable text on mobile devices

Please go ahead and take this issue, jazakallahu khair. A few things that come to mind:
* I personally find the me_quran font the easiest to read.
* It is crucial to make

[2018-09-07 08:57] abidlabs commented on #89
I'm closing this as it should be solved by #83 which is being worked on by @mohamedgomran

[2018-09-07 08:57] #89 closed

[2018-09-07 08:59] abidlabs commented on #78
I'm closing this as it should be solved by #83 which is being worked on by @mohamedgomran

[2018-09-07 08:59] #78 closed

[2018-09-07 08:59] abidlabs commented on #72
I'm closing this as it should be solved by #83 which is being worked on by @mohamedgomran

[2018-09-07 08:59] #72 closed

[2018-09-07 09:00] abidlabs commented on #70
Yes exactly. @bahaa96 did you push this feature already? I don't see it on the live website.

[2018-09-07 09:13] abidlabs opened #103 "Add ability to switch from Arabic text to English transliteration"
One user commented, "With offering transliteration (or just the option to recite suras and ayat people have memorised), you'd open up the crowdsourcing to far more people. Many Muslims grow up "reading" Arabic so they can recite (especially those who to go Islamic schools), but many Muslims (especially converts) do not have that training from childhood and have learned Qur'an primarily by listenin

[2018-09-09 08:58] tarekeldeeb commented on #101
@abidlabs Unfortunately, it's consistent. Just as you've mentioned, I'm already on https.

[2018-09-09 09:01] bahaa96 commented on #101
Sent by GO Mail

On September 9, 2018 10:58:44 AM EET, Tarek Eldeeb <notifications@github.com> wrote:

[2018-09-09 09:01] tarekeldeeb commented on #101
Oops, after a couple of refreshes, window moves, I finally got the permission request from tarteel.io. Once approved, it worked as expected.

So let me redefine the problem now:
The recording permission was not requested as soon as the site loads. Random refresh cycles triggered it.

[2018-09-09 09:15] tarekeldeeb opened #105 "RC Release for recitation data?"
Salam,
I'm developing a Quran Speech model already, using a fork from mozilla and data sets from http://quran.ksu.edu.sa/ayat

Project is hosted at
https://github.com/tarekeldeeb/DeepSpeech-Quran

I need to give a try using the current tarteel data set. Can you release an RC? Do you have a published release plan?

Jazakom Allah Khairan,

[2018-09-10 17:59] abidlabs commented on #101
Thank you @tarekeldeeb, that's very helpful to know.

[2018-09-10 18:00] abidlabs commented on #105
@tarekeldeeb that's very exciting, this is exactly the kind of ML that we want our data to be able to enable. We'll get back shortly to you about a release plan.

[2018-09-10 18:08] mohamedgomran commented on #83
@abidlabs Sorry for being late, I'm on a vacation for a few days. I will start working on it with a friend tomorrow and I hope to deliver it in same day in shaa Allah.

[2018-09-11 13:16] mohamedgomran commented on #100
I suggest:
Splitting HTML index files and only load the part when its needed.
Remove duplicate imports of js files.
Delivering js only when it's needed.
Using the minified verstion of jQuery instead of current un-minified one.
Refactoring the JS files (in terms of code).
Delivering a minified js files for users in production while keeping the original in development.

[2018-09-11 13:18] mohamedgomran commented on #100
I suggest:

- Splitting HTML index files and only load the part when its needed.
- Remove duplicate imports of JS files.
- Delivering JS only when it's needed (JS costs the browser a lot).
- Using the minified version of jQuery instead of current un-minified one.
- Refactoring the JS files (in terms of code).
- Delivering a minified JS files for users in production while keeping the original in de

[2018-09-12 10:53] tarekeldeeb commented on #100
Hey Mohamed,

I suggest you focus on the major cause; loading data.js before loading the view.
Other JS files, are relatively much smaller.

Regards,

[2018-09-12 11:56] mohamedgomran commented on #100
This raise a question, Why we have to load the whole Quran text (data.js) in one request?

[2018-09-12 12:07] mohamedgomran commented on #100
This raises a question, Why we have to load the whole Quran text (data.js) in one request?

[2018-09-13 13:51] piraka9011 commented on #103
If no one has this, I can tackle implementation. I'll add a button beside the Ayah to switch.

[2018-09-13 15:01] abidlabs commented on #103
That sounds great @Anas, this is all yours!

[2018-09-14 13:47] MohammedEssehemy commented on #100
I've opened pull request to add async to the script tag in html so that it won't prevent other scripts from loading, also we should consider gzip the server response but I don't have as much experience in django @mohamedgomran can you help in this?

[2018-09-14 16:53] mohamedgomran commented on #100
@MohammedEssehemy You mean gzipping the data.js response?

[2018-09-14 19:50] MohammedEssehemy commented on #100
@mohamedgomran I mean something like this [GZip middleware](https://docs.djangoproject.com/en/2.1/ref/middleware/#module-django.middleware.gzip)

[2018-09-15 18:43] piraka9011 opened #115 "Djang-ify country list"
Rather than list out all the countries in the HTML, why not create a template that lists them our from the Django `audio` app? Is it a speed/memory issue?
I've templated  `index.html` with this.

[code]
and update `views.py` to return a dict with countries.

I can include this in my next pull request.

[2018-09-15 19:26] mohamedgomran commented on #100
@MohammedEssehemy Thanks Mohammed, but it has a lot of security issues as mentioned in the docs.

[2018-09-15 23:00] piraka9011 commented on #100
I've minified all CSS & JS per @mohamedgomran's suggestion using YUI Compressor and did some refactoring so that minified versions are used in page. Will ref. in a pull request.

I've been using the file watcher feature in PyCharm/WebStorm to do this automatically, however, I can include a script to automate this.

[2018-09-16 16:27] abidlabs commented on #115
Agreed, this is much cleaner, thanks @piraka9011.

[2018-09-16 18:05] abidlabs commented on #83
Thank you @mohamedgomran, I went ahead and merged your PR. I made a few changes to the data file that it was reading from, but otherwise, I pretty much pulled your code directly.

[2018-09-16 18:05] #83 closed

[2018-09-16 18:07] abidlabs commented on #100
I believe this issue is closed, correct? @tarekeldeeb can you confirm you're no longer experiencing the severe delay?

[2018-09-16 18:16] abidlabs opened #116 "Cross-browser and Device Compatibility Test Results"
This ticket contains the results of testing tarteel.io on different browsers and devices. Please edit this message and add your test results below. If you see an issue, please open a separate ticket dedicated to that issue as well as recording it here.

## Safari browser on Mac OS: Stops Onboarding after Ayah 4 (#110)
  * I have multiple reports of the following bug:
  * After the user opens the p

[2018-09-16 19:49] abidlabs commented on #71
Popups during the onboarding experience to tell them to start recording will probably suffice.

[2018-09-16 19:55] #31 closed

[2018-09-16 19:55] piraka9011 opened #117 "Mobile browser landscape issues"
The web browsers on mobile (chrome and mozilla) don't display nicely.

[Chrome Landscape](https://postimg.cc/TL8dLCJd) & [Mozilla Landscape](https://postimg.cc/HV7RhdwL)

Not sure where this can be fixed.

[2018-09-16 20:15] mohamedgomran commented on #116
Here is the 2 MB file (data.js).

![image](https://user-images.githubusercontent.com/7017113/45600427-d6b6c700-b9fc-11e8-8969-773e392116fe.png)

This file is loaded for the "Click here to change Ayah" feature.

I suggest have some APIs end points returning:
1. Surahs names.
2. Surah Ayas of requested Surah with capability to filter with range.

And use them for this feature.

[2018-09-16 20:43] mohamedgomran commented on #100
@piraka9011  Can you please replace the jQuery with the minified version in your PR?

[2018-09-17 01:09] piraka9011 commented on #103
I've scraped the data from https://sahih-bukhari.com/Pages/Quran/Quran_transliteration.php into a csv.
Will create a `getTransliteratedAyah` endpoint to minimize data load.

[2018-09-17 01:16] piraka9011 commented on #100
Will do!

Also it looks like some refactoring is in order in `script.js` (lines 315, 545) if we want to not load `data.js`. Maybe create an api endpoint where it's requested instead? I can probably do that, but whoever wrote the `getSurah` and `navigateToChangeAyah` might be more suitable.

[2018-09-19 12:47] MohammedEssehemy commented on #116
I'll try working on this tonight and I'll test on safari on Mac OS.

[2018-09-21 13:08] MohammedEssehemy commented on #101
@tarekeldeeb  I need more details, OS  and chrome version.

[2018-10-14 07:33] abidlabs commented on #117
Looks beautiful, thanks @bahaa96!

[2018-10-14 07:33] #117 closed

[2018-10-14 07:45] abidlabs commented on #116
Good job guys, here's the results from my latest test:

[2018-10-14 07:45] abidlabs commented on #116
## Safari browser on iOS: No Issues Detected
* No issues detected

## Safari browser on Mac OS: No Issues Detected
* No issues detected

## Chrome browser on Mac OS: No Issues Detected
* No issues detected

## Chrome browser on Windows 10: No Issues Dectected
* No issues detected

## Chrome browser on Android: No Issues Dectected
* No issues detected

[2018-10-14 07:59] #101 closed

[2018-10-14 08:00] abidlabs commented on #71
This seems like a significant amount of effort for something that isn't a high priority. Let's close this for now.

[2018-10-14 08:00] #71 closed

[2018-10-14 08:28] abidlabs commented on #116
Thank you @tarekeldeeb, this is very helpful. What is the error message that appeared int the console? I wasn't able to see it in the GIF?

[2018-10-14 08:29] #75 closed

[2018-10-14 08:36] tarekeldeeb commented on #116
PS> I tried 4 times, was not asked for recording permissions at all 4.
PS> One or two times, the error message did not show up. The bug persists.

On the other hand, android works great.

[2018-10-14 08:52] abidlabs commented on #116
@MohammedEssehemy can you continue to take a look into this?

[2018-10-14 12:52] MohammedEssehemy commented on #116
@abidlabs Ok, I'll check ASAP ISA.

[2018-10-14 21:42] MohammedEssehemy commented on #116
@tarekeldeeb does the problem appear if you wait for the ayah to fully load before clicking on microphone?

[2018-10-15 13:58] tarekeldeeb commented on #116
Exactly, that's apparent at the gif.

I  have doubts that it's related to Chrome Incognito mode. Makes sense to you?

[2018-10-16 16:19] MohammedEssehemy commented on #116
I don't have the same env: I am test on VM with win 7:
1. I could regenerate the bug if I click before ayah fully load,
2. I couldn't regenerate it if I wait for ayah to load.
I'll try again to catch the real cause of the bug.

[2018-10-17 14:15] tarekeldeeb commented on #105
Reminder ..

[2018-10-18 16:55] abidlabs commented on #105
Bear with us, we are putting together a white paper that includes this information as well as other information about Tarteel. Inshaallah we're hoping to have that ready by this weekend.

[2018-10-28 02:27] abidlabs opened #126 "Some characters not showing up correctly"
Some characters don't show up correctly. These seem to be those symbols that are printed on the mushaf to guide readers, for example to guide readers to pronounce the "meem" when you have a "noon" followed by a "baa".

![image](https://user-images.githubusercontent.com/1778297/47611215-51bcc580-da1e-11e8-9620-965776e30315.png)

[2018-10-28 02:28] abidlabs commented on #126
Here's another example:

![image](https://user-images.githubusercontent.com/1778297/47611221-7153ee00-da1e-11e8-94f4-80e1ff65875e.png)

[2018-10-30 15:31] tarekeldeeb commented on #105
which weekend?   :-)

[2018-11-02 17:08] piraka9011 commented on #33
External tables:
- One for automated annotations
- One for manual annotations
One Manual for Tajweed, One Manual for Hifz, One Auto for Hifz

A new Django model is needed for Manual Tajweed.

Info for Tajweed:
- Letter
- Degree
- Category
- Session ID for evaluator
- Unique ID
- Letter: both position and character
- ID of corresponding recording

Soft suggestions based on deterministic rules.

[2018-11-02 20:01] piraka9011 opened #127 "No checks for length when loading next ayah"
@abidlabs @mohamedgomran  Should there be a check for the ayah length when the user clicks next ayah? Currently it shows the next ayah without checking to make sure its not too long.
I added a function which does this:
[code]
Where the request now looks like this:
[code]

If this is fine, I will include it in my next PR.

[2018-11-08 13:32] piraka9011 commented on #33
Need to consider i18n when providing categories. (madd -> prolongation, tafkheem -> Fattening). Maybe just keep them in Arabic? :sweat_smile:

[2018-11-09 21:00] abidlabs commented on #127
I've deployed your commit @piraka9011 and I'm closing this as it's fixed now in the get_low_ayah_count() method. Thanks!

[2018-11-09 21:00] #127 closed

[2018-11-09 21:00] abidlabs commented on #103
Thanks @piraka9011!

[2018-11-09 21:00] #103 closed

[2018-11-09 21:01] abidlabs commented on #32
Great, thanks @piraka9011!

[2018-11-09 21:01] #32 closed

[2018-11-09 21:05] abidlabs commented on #126
The issue seems to be caused by special characters that are in the data file, but not part of utf-8. The most common such character was the meem that signifies iqlab of nun before baa. I've removed that from the text file and some other miscellaneous characters, as they don't affect the text. For now, that's the best solution I can think of.

[2018-11-09 21:05] #126 closed

[2018-11-09 21:05] abidlabs commented on #100
With your minifying changes @piraka9011, I think this is good now.

[2018-11-09 21:05] #100 closed

[2018-11-09 21:07] abidlabs commented on #70
I'm closing because I think there is lack of interest in this feature. I haven't heard it requested by users.

[2018-11-09 21:07] #70 closed

[2018-11-12 11:57] piraka9011 opened #128 "Image URL not being used in the index.html response"
Is this [line](https://github.com/Tarteel-io/tarteel.io/blob/fa4209730b9f32e7a9e7543280aba4913c030653/audio/views.py#L106) in `audio/views.py` necessary? Will we only use text (not images) from now on?

[2018-11-12 16:47] abidlabs commented on #33
Great, for the Manual Hifz annotations, here's the functionality I have in mind:

1. The ability for a user to listen to a batch of recordings (maybe 5-10?) that have been uploaded, and see the correct text next to it.
2. The user should have a way of saying whether this is the correct verse being recited.
3. Once the user has evaluated all of the verses, they should be able to submit it and we re

[2018-11-13 15:49] abidlabs opened #129 "Update 10k to 50k"
We're upping the Tarteel Challenge from 10,000 verses to 50,000 verses! All messaging on the website and app should be updated to reflect this.

[2018-11-13 15:50] abidlabs opened #130 "Personal Profile Page"
We should have a page that shows:
- which verses someone has recited
- which complete surahs someone has recited
- how many times they recited that
- timeline of recitations

[2018-11-13 15:51] abidlabs opened #131 "Increase font size on mobile website"
or at least have an option to do so. I have heard from some older folks that the font size is too small.

[2018-11-20 22:58] #129 closed

[2018-11-20 22:58] #130 closed

[2018-11-20 22:58] #131 closed

[2018-11-26 06:59] abidlabs opened #135 "Text not showing on Tarteel main page"
As reported by @aliabd, sometimes this happens. A refresh fixes it.

![image](https://user-images.githubusercontent.com/1778297/48997699-ab8bda80-f105-11e8-9116-910b639dc469.png)

[2018-11-26 06:59] abidlabs commented on #135
@bahaa96 is this something you can look into?

[2018-12-04 05:35] mmayet opened #137 "Change Surah and Ayah page stuck on Firefox"
When I click to change the surah/ayah on firefox, it shows me a static non-scrolling page of verses. I can select the verses shown, but there's no back to surahs, no scroll to view verses, and no search bar at the top either.
![tarteel_mozilla_bug](https://user-images.githubusercontent.com/6694374/49421092-54a88580-f743-11e8-94ac-d320aa952498.png)

[2018-12-04 07:12] piraka9011 opened #138 "Branch Cleanup"
The following branches seem stale:
`abdellatif/miscellaneous-fixes`
`og_img_update`
`abdellatif/hotjar`
`develop`
`revert-104-master`
`abdellatif/misc_fixes`
`bahaa/localization`
`bahaa/ajax-queueing`
`bahaa/adding-explanatory-comments `
`bahaa/landscape-issue`
@abidlabs @tifa2UP @bahaa96  Permission to delete?

[2018-12-04 13:13] piraka9011 commented on #128
Fixed in `anas/tajweed-evaluator`.

[2018-12-04 13:13] #128 closed

[2018-12-04 22:36] tifa2UP commented on #138
go for it

[2018-12-05 08:46] abidlabs opened #139 "Create data download page that allows download of full audio dataset"
Currently, we have a page (https://www.tarteel.io/download-audio), which allows users to download a sample set of 50 recordings and listen to a few audio samples.

Now that we have reached 10k recordings, we should allow people to download all of the recordings that we have collected. Let's have a link, which allows a user to download a CSV file consists of the following information for each recor

[2018-12-05 14:08] piraka9011 commented on #139
Basic html page in `audio` app that queries all objects should be simple.
I can grab this after finishing tajweed if no one has it.

[2018-12-05 14:12] piraka9011 opened #140 "Adding a login feature for users"
It'd be nice to have a feature where users can login and see the recitations associated with their account.
It would also make sure only select people access the tajweed evaluation tool in progress.

Currently we have [`django-allauth`](https://django-allauth.readthedocs.io/en/latest/) app taking care of most of this. I've added most backend configs but need to make login page.

[2018-12-07 14:55] abidlabs commented on #139
Thanks @piraka9011, @khanh111 has picked it up.

[2018-12-07 15:01] #138 closed

[2018-12-07 21:37] abidlabs opened #141 "Waqf signs missing"
Can we add waqf signs? I got this feedback from a user: "the waqf signs are missing, which affects the recitation tremendously."

![img-20181207-wa0010](https://user-images.githubusercontent.com/1778297/49673942-3fcb3b00-fa3e-11e8-8741-c3582d6df4ec.jpg)
![img-20181207-wa0009](https://user-images.githubusercontent.com/1778297/49673944-4063d180-fa3e-11e8-88d5-7e6b5ea5033e.jpg)
![img-20181207-wa0008]

[2018-12-08 03:26] hilyas opened #142 "Mixing rtl and ltr content"
Browsing the site, I noticed an issue with the Arabic version of the site which has some English text in it. Not sure if the intent is to mix both languages, but the ltr needs to be fixed. Example in the screenshot.
<img width="781" alt="screen shot 2018-12-07 at 10 23 23 pm" src="https://user-images.githubusercontent.com/727228/49681405-20003b00-fa6f-11e8-96eb-35e6d0e4610f.png">

[2018-12-08 03:28] hilyas opened #143 "Arabic version could use a rewording."
Not sure if the Arabic text was autogenerated, but it certainly needs corrections. I looked at the code and couldn't find any html for Arabic. Could someone point me in the right direction? I can probably fix it.

[2018-12-08 03:33] piraka9011 commented on #143
Salam Ilyas,

Ayahs are served from the backend and are read from a json file in `utils/data-uthmani. json`. These are loaded in `audio/views.py`. What exactly are the issues, are certain words not rendering and what browser are you using?

JAK

[2018-12-08 03:38] hilyas commented on #143
Wa alaykom salam!
Sorry I meant the Arabic version of the website. For example https://www.tarteel.io/about/

[2018-12-08 03:40] hilyas commented on #143
Great, this is exactly what I was looking for. Do you guys mind if I work on the Arabic? Maybe a good way for me to get started and get familiar with the codebase.

[2018-12-08 03:48] hilyas opened #144 "Feature: Ability to cancel out of the recording session"
When I start the recording sessions, I am not able to go back to the main site, or cancel my session. Maybe there is a way but it's not obvious.
There should be a button somewhere. Clicking "back" on the browser doesn't seem to do it.

<img width="1415" alt="screen shot 2018-12-07 at 10 43 52 pm" src="https://user-images.githubusercontent.com/727228/49681567-001e4680-fa72-11e8-98d2-dcf6a09f203e.pn

[2018-12-08 03:53] hilyas opened #145 "Quranic script for narrations other than Hafs."
Warsh is an option in the demographic data collection step, but the 'rasm' (Arabic text of the Quran) does not conform to the narration of Warsh. Maybe the app should emphasize the fact that it's Hafs only to keep things simple, or implement a choice of narration before starting the audio data collection.
<img width="190" alt="screen shot 2018-12-07 at 10 46 27 pm" src="https://user-images.githubu

[2018-12-08 06:54] mmayet commented on #145
Agreed. I think we mentioned sticking to just Ḥafṣ during the tajwīd
meeting.

On Fri, Dec 7, 2018, 7:53 PM Ilyas Hamdi <notifications@github.com wrote:

[2018-12-08 06:55] mmayet commented on #144
I believe this is if you click start, but don't record the minimum of 5
verses.

Once you do that, it should be fine.

On Fri, Dec 7, 2018, 7:48 PM Ilyas Hamdi <notifications@github.com wrote:

[2018-12-08 17:02] piraka9011 commented on #145
While the tajweed was meant to be hafs only, I think we still have the opportunity to collect the Warsh recitations even if we don't have the text (yet).

It is my understanding that those who read warsh, and other qiraat are aware of the differences and can make a conscious effort to  recite according to their reading form. I think we should keep this as it is and if we find a parsable warsh text

[2018-12-08 17:46] hilyas commented on #144
Thank you, but am I forced to record 5 ayat? What if I want to cancel out or restart.

[2018-12-08 18:14] hilyas commented on #145
In my opinion, it will confuse the user. I know for a fact that some only know Warsh for example and cannot read Hafs. And some read Hafs thinking they're reading Warsh, and vice versa. My point is that not everybody knows where (and what) the differences are. Some wouldn't even know that there is more than one narration.
Differences are not only in photenic rules (tajweed), but also in word place

[2018-12-08 18:39] hilyas commented on #141
I agree. It's important. The waqf helps preserve the meaning.

[2018-12-08 19:58] tifa2UP commented on #142
Thanks for bringing it up @hilyas!

@abidlabs @bahaa96 are Ali's changes implemented yet?

[2018-12-08 19:59] tifa2UP commented on #143
Yes, please do @hilyas! Create a PR once you're done with the changes ^_^

[2018-12-08 20:00] tifa2UP commented on #141
+1. Want to look into it @bahaa96

[2018-12-08 20:56] abidlabs opened #146 "Integrating Hifz evaluation system into landing page"
When people land on tarteel.io, they should be able to see the option to recite verses or listen and evaluate other recitations.

[2018-12-09 01:50] piraka9011 commented on #145
Ok, JAK for taking the time to explain it. I'll include this in my next PR iA since it's an easy fix.

[2018-12-09 01:52] piraka9011 commented on #144
@bahaa96 @tifa2UP Is this just about showing the navbar on this window "slide" /section

[2018-12-09 12:48] piraka9011 commented on #33
So I've got the following up and running for the tajweed evaluation. Evaluator sees highlighted words and rule to check for and selects y/n for evaluation. If user hits no, a small radio div pop ups to indicate the degree of the mistake.

Extra feature I can finish is to have this page accessible only via login.
![tajweed](https://user-images.githubusercontent.com/16828657/49697513-71bcd880-fbc9-1

[2018-12-09 17:44] hilyas commented on #145
Jazak Allah khayran. I appreciate the flexibility!

[2018-12-09 19:01] hilyas commented on #143
@tifa2UP may I have permission to push? Thank you.
`remote: Permission to Tarteel-io/tarteel.io.git denied to hilyas.`

[2018-12-09 19:07] hilyas opened #147 "Gitflow model"
What do you guys think of using gitflow. Basically merging feature/fix/etc.. branches into a Develop branch and keeping Master for releases.
https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow

[2018-12-10 04:30] piraka9011 commented on #147
Salam Ilyas,

I believe we are using this model (technically, see our branches and forks). Contributors create a fork/branch for a specific feature they implement, a PR is generated and reviewed. Changes are pushed to develop for staging and master for production.

While we don't have any official releases yet, it would be good practice to label them (currently they are just milestones). We have s

[2018-12-10 12:32] #145 closed

[2018-12-16 19:08] tifa2UP commented on #143
@hilyas let me know if you have any difficulties creating the PR

[2018-12-18 09:18] abidlabs commented on #139
@

[2018-12-18 09:18] #139 closed

[2018-12-18 09:20] abidlabs opened #151 "Bug in dataset download script."
I receive a `MultipleObjectsReturned at /download-full-dataset-csv/`

when I try to access https://www.tarteel.io/download-full-dataset-csv/.

@khanh111 can you take a look?

[2018-12-18 15:43] piraka9011 commented on #151
It appears that the session_id is not unique, so you get multiple objects. @khanh111 try using the primary key `id` instead.
Thinking about it a bit more, I think we should use a foreign key to link Demographics to recordings since that would be much more cleaner.
Example [here](https://github.com/Tarteel-io/tarteel.io/blob/a0159252e3d9682d86c2f1e5885a5c2a2fc01d2e/evaluation/models.py#L58).

[2018-12-20 03:31] bahaa96 opened #153 "Converting to React.js"
#### current problems:

#### MileStone:
- [ ] Content Security Policy
- [ ] Making configFactory ready for production
- [ ] use modernizr
- [ ] make a serviceWorker
- [ ] Having a pre-commit script
- [ ] Make a README.md for the main project
- [ ] make a documentation for the APP if there’s more time
- [ ] add a template for submitting new issues and PRs

#### Done:
- [x] get the dev server runnin

[2018-12-23 14:19] tarekeldeeb commented on #105
SA,
ReOpening ..

[2018-12-23 14:22] tarekeldeeb opened #155 "Release for recitation data?"
Salam,
[Reopening #105]

I'm developing a Quran Speech model already, using a fork from mozilla and data sets from http://quran.ksu.edu.sa/ayat

Project is hosted at
https://github.com/tarekeldeeb/DeepSpeech-Quran

I need to give a try using the current tarteel data set. Can you release the dataset? Tarteel had reached 10K+ already .. Ma Shaa Allah.

Jazakom Allah Khairan,

[2018-12-23 18:46] khanh111 commented on #155
Assalam Alaikum @tarekeldeeb,
Instructions for downloading our current data are at tarteel.io/download-audio. Please note that almost nothing is labeled yet (evaluation is being rolled out soon) and that the download will literally give you everything we have so far (so downloading an hour later will have more recordings than now).

We are continuing to work on data cleaning, labeling, and evaluat

[2018-12-23 18:46] #155 closed

[2018-12-23 18:50] #147 closed

[2018-12-23 18:51] piraka9011 commented on #143
Closing due to inactivity.

[2018-12-23 18:51] #143 closed

[2018-12-23 20:43] abidlabs commented on #151
I think this solution is fine. If people have multiple demographic form submits, let's use the latest version.

[2018-12-23 20:43] #151 closed

[2018-12-23 20:43] abidlabs commented on #146
I think @bahaa96's solution of having pop up reminders is better, thanks Bahaa!

[2018-12-23 20:43] #146 closed

[2018-12-26 01:08] #33 closed

[2018-12-26 01:09] piraka9011 commented on #142
This appears to be fixed in Bahaa's recent PR #152.

[2018-12-26 01:09] #142 closed

[2018-12-26 19:51] aneeqaabid opened #157 "Suggestion to include badges/achievements"
Every time a user completes 100, 500, 1000, etc. ayahs, they should earn some sort of reward, like confetti exploding once they reach a milestone and a badge on their user profile.

Another suggestion is recommending users to recite certain ayahs that Tarteel does not have any or few recordings of. Perhaps an ayah map could be useful--showing users which ayahs have been recited more frequently and

[2018-12-28 07:17] abidlabs opened #160 "Evaluator does not play audio files on iOS"
It seems playing a .wav file on iOS browsers is tricky: https://stackoverflow.com/questions/13275409/playing-a-wav-file-on-ios-safari

As a result, the Tarteel evaluator is not able to play the files properly on iOS chrome or safari. (It actually seems to be an intermittent bug. Sometimes the audio file is played properly, but most of the time, the waveform shows, but no audio file is played).

Dj

[2018-12-28 21:59] abidlabs opened #161 "Evaluation examples"
Have examples of what constitutes as incorrect verses vs. correct verses. As well as specific rules, like:

* If there is at 1 complete word or less missing from either end, then mark it as correct. But if more than 1 complete word is missing from either end, then it should be marked as incorrect

[2018-12-29 06:32] abidlabs commented on #135
@aliabd have you experienced this issue recently?

[2018-12-30 15:42] abidlabs opened #164 "Add contact info to about page"
I don't see our email: contact.tarteel@gmail.com anywhere on the website, let's add it.

[2018-12-30 22:30] tifa2UP commented on #164
+1. Can we add it to the `How can I help?` section as well?

We can update it to something like:

`If you're interested in helping out email us at [email].
If you're an engineer, you can take a look at the open issues [here]`

Insha'Allah this will create a better onboarding experience for contributors and get non-engineers interested as well.

[2019-01-02 01:58] kareemn opened #165 "Check for valid WAVE headers before uploading wav file"
I wrote a script to download the existing dataset and notices that ~25% of the wav files have invalid WAVE headers (they will not play using SoX, media players, audacity, etc). It would be better to catch this at upload time. Here's a quick example of doing this in python: https://github.com/kareemn/Tarteel-ML/blob/master/download.py#L67

[2019-01-03 02:09] abidlabs opened #166 "Update README to include installation of npm and required npm packages"
@piraka9011 if a developer even wants to run the project locally, they would now need `npm` and `yugglify`, is that correct?

[2019-01-03 02:39] abidlabs commented on #165
Thank you @kareemn for noticing that! This is probably happening when audio files are recorded from a specific platform. I'll look into this.

[2019-01-03 03:17] #161 closed

[2019-01-07 01:56] abidlabs opened #167 "Recordings that do not have (m)any evaluations should be suggested by the evaluator"
Similar to how we prioritize verses that don't have many recordings.

[2019-01-09 22:56] abidlabs commented on #160
Fixed, thanks @bahaa96!

[2019-01-09 22:56] #160 closed

[2019-01-10 08:06] abidlabs opened #171 "Handling long ayahs in recitation/evaluation pages"
We could for example add a scrollbar to avoid issues like this:

![image](https://user-images.githubusercontent.com/1778297/50954530-8364fa80-146b-11e9-82f0-49f0ff4cf3b6.png)

[2019-01-10 21:03] mmayet opened #172 ""thank you for evaluating" keeps showing up after every 5 evals"
slows down a long eval session.
make it like the main page - 5 verses to start
but after that, it's just unending

[2019-01-11 03:35] nightblade9 commented on #140
It would also be nice to see a count of ayaat evaluated by a user. I'm not reciting but I am verifying quite a lot.

[2019-01-11 03:43] nightblade9 opened #173 "1kb wav audio file served up sometimes"
Running Windows 8.1 with Firefox. About one in 5-10 ayaat under Tarteel Evaluator doesn't play any sound. I checked the network inspector and the wave file served to my browser is 1kb.

Here's what I got for 36:66:
- Original URL is `https://www.tarteel.io/audio/media/36_66_1990185170.wav` which returns a 301 (redirect)
- Immediately afterward, I see a request for `https://www.tarteel.io/audio/med

[2019-01-11 19:47] mmayet opened #174 "have evaluator for men & women option"
a looooooooooot of sisters' biggest concern for not wanting to use tarteel is men being able to hear. Can we add a toggle option to only hear men or only hear women?

we can't complain about low female usage if we don't respect their privacy

[2019-01-11 20:04] mmayet opened #175 "going back to fix evaluation error"
if i heard recitation 1, accidently clicked yes or no, I can't go back to recitation one to correct my evaluation

[2019-01-11 20:47] piraka9011 commented on #166
Addressed in #140

[2019-01-11 20:47] #166 closed

[2019-01-13 01:02] piraka9011 commented on #175
So how this might work then is that we have multiple evaluations for each recitation. If the majority are Yes, then the evaluation is accepted, otherwise it isn't.

This is a design issue to consider.

[2019-01-13 15:45] piraka9011 opened #176 "Tajweed Evaluation Features"
- There should be more instruction on the Evaluator page about how to evaluate the rule. (E.g. Next to ghunna, it should say, "holding the 'nun' for at least 2 counts" or something like that).
- It would be nice to see a modal (perhaps similar to the hifz evaluation page) where we show all of the Tajweed rules to give people some expectation of the kinds of things they'll be evaluating.
- We shoul

[2019-01-13 16:17] piraka9011 commented on #165
This is interesting...
So not all the files you listed have the same header. And the ones I can play on my Ubuntu 16.04 default media player have the following output from `mediainfo test1.wav`, but I can't open in python/Wave: (Notice the format is MPEG-4 and probably from an android phone)
[code]

The ones I can open have the Wave format:

[code]

[2019-01-13 16:48] piraka9011 commented on #165
Ok so I found a potential solution:
1. Check if its possible to read the wav file using `wave.open()`. If no exceptions are thrown, we're good.
2. If not, the file is most probably in that mp4 format, so read it in with `pydub` and convert to wav.

This requires `sudo apt install ffmpeg` and `pip install pydub`. I'm looking for a way without dependencies and will update if I find one.

[2019-01-13 20:34] piraka9011 commented on #173
Could be related to #165 I have a solution for checking validity of file on backend and converting to wav, although not sure if this will fix it.

[2019-01-13 21:05] nightblade9 commented on #165
It's interesting that all the corrupted files are regular files. In the cases I saw, the wave files are all 1kb (see: #173)

[2019-01-13 21:27] mmayet opened #177 "Ibrāhīm shows up very weird in chrome Android - إِبْرَٰهِۦمُ"
إِبْرَٰهِۦمُ
إِبْرَٰهِـٖمُ

In the script or the Qurʾān, it's not written as - إِبْرَاهِيم - so there's no alif or yaa
Not sure how to remedy this. But it looks confusing.

[2019-01-14 01:07] piraka9011 commented on #177
Do you have a specific ayah example? or is this in general.

[2019-01-14 01:08] piraka9011 commented on #172
@bahaa96 @tifa2UP feature to add in the new front end?

[2019-01-14 01:28] piraka9011 opened #178 "Start Ayahs with demographic info"
I'm noticing that sometimes default values can be used in the demographics and it would be better to get that at the start instead of at the end of the recitations to make sure we have that info.

@bahaa96 @tifa2UP thoughts?

[2019-01-14 01:39] abidlabs opened #179 "Steps to allow gender-based privacy for recitations"
Several sisters have raised concerns about the fact that during the evaluation phase, their recitations can be publicly heard. To mitigate this issue, we will be taking the following steps:

- [ ]  In the evaluation page, add a button / checkbox that restricts you to only male or only female recitations.
- [ ] Modify the demographic form to clearly say that by indicating your gender, that makes it

[2019-01-14 01:40] abidlabs commented on #174
Thanks for the suggestion @mmayet. We'll be taking a few steps to protect gender-based privacy, as spelled out in #179. Closing this, because it is subsumed by #179.

[2019-01-14 01:40] #174 closed

[2019-01-15 21:42] nightblade9 opened #181 "Minimum Age 13?"
I asked a 10-year-old (after getting consent from their parent) to record five ayaat. On the demographics page, the minimum age listed is 13-18.

Can you provide an option for ages under 13? Or, did you purposely want data from 13yo+ only?

[2019-01-16 20:51] abidlabs opened #182 "Before proceeding to download audio files, have a contact info / agree to privacy policy page"
As part of the privacy policy, we could require people who want to download the audio files to provide their contact info and agree to not to de-identify the audio files. This will help address some of the concerns raised by sisters who want to protect their privacy. Something like this:

![image](https://user-images.githubusercontent.com/1778297/51277682-2dbdb000-198d-11e9-8300-2791984039ad.png)

[2019-01-16 20:53] abidlabs commented on #181
Salaam, yes we are only looking to collect data from folks at least 13 years or older, in order to protect children's privacy.

[2019-01-16 20:53] #181 closed

[2019-01-16 20:55] abidlabs commented on #172
On a related note, can we have the next audio files autoplay as soon as you click the thumbs up or thumbs down? For long evaluation sessions, it would save effort :)

[2019-01-16 21:02] khanh111 commented on #182
I like this idea and we should implement it as a first step, but also we have no ability to enforce this (see Facebook fiasco with Cambridge Analytica), so it's not enough. We should be clear about this wherever we have a FAQ for people concerned about this.

[2019-01-16 21:41] nightblade9 commented on #181
Wa'alikum as-salaam. How would I go about deleting their submissions, then?

[2019-01-16 22:16] abidlabs commented on #181
Can you send us (contacttarteel@gmail.com) the session_id associated with the recording? You can find this by visiting the "My Profile" page and looking at the URL. It should be something like https://www.tarteel.io/profile/SESSION_ID

[2019-01-18 15:55] tifa2UP commented on #172
Added to the new frontend:

1) Ayas play automatically
2) Popup is removed

[2019-01-18 15:55] #172 closed

[2019-01-20 00:09] piraka9011 commented on #135
Closing due to inactivity, reopen if needed.

[2019-01-20 00:09] #135 closed

[2019-01-20 00:13] piraka9011 commented on #137
This has been resolved in the new front end

[2019-01-20 00:13] #137 closed

[2019-01-20 00:13] #140 closed

[2019-01-20 00:16] piraka9011 commented on #141
Fixed in new front end

[2019-01-20 00:16] #141 closed

[2019-01-20 00:17] piraka9011 commented on #157
Add this to a users model.

[2019-01-20 02:59] piraka9011 commented on #177
This apparently is fixed in the new front end. Tested on my Android (chrome and mozilla) and desktop.

[2019-01-20 02:59] #177 closed

[2019-01-23 20:14] mmayet opened #183 "round sukūn not showing up right (3:144) - أَفَإِي۟ن"
![round sukun](https://user-images.githubusercontent.com/6694374/51634097-3cb1de80-1f08-11e9-987c-d8a3ffb68b55.png)

it uses this character ْ
but shows the large section delineator.

[2019-01-24 01:53] tifa2UP commented on #183
This is fixed in the new frontend. Thanks @mmayet!

[2019-01-24 01:53] #183 closed

[2019-01-26 14:54] bahaa96 commented on #175
I guess this would be hard to handle otherwise we should store recitation linked to the user and the user might evaluate the ayah twice and I also feel the the people who are going to mistake with only 2 different big buttons we don't them to evaluate.

[2019-01-26 14:56] bahaa96 commented on #144
Actually this is the main page which main page he want to get back to ? There's a navbar now in this screen.

[2019-01-26 14:57] #171 closed

[2019-02-10 09:20] abidlabs opened #187 "Evaluator not saving evaluations"
The evaluator throws a 500 internal server error whenever an evaluation is made, with the following error:

KeyError
'recording_id'
/app/restapi/views.py in post, line 446

See the screenshot below for more information:

![image](https://user-images.githubusercontent.com/1778297/52531935-dc75b780-2cd1-11e9-863e-fb8891f35303.png)

[2019-02-10 19:25] piraka9011 opened #188 "Backend Refactoring To-Do List"
- [ ]  Refactor model endpoints to use [viewsets](https://www.django-rest-framework.org/api-guide/viewsets/) (Reason is: simplicity and most of the work is taken care of already, allowing us to work on filtering and features) (GET/POST/PUT/DELETE/PATCH)
    - [x] Annotated Recordings
    Filters:
       - [x]  Gender
       - [x]  Surah
       - [x]  Ayah
    - [ ] Demographics
    Filters:

[2019-02-10 19:26] piraka9011 commented on #188
@AymenQ

[2019-02-10 19:35] #153 closed

[2019-02-10 19:42] piraka9011 commented on #165
@AymenQ Brain dump of what I did to "fix" the issue.
Requires `pydub` and two system dependencies. Potential solution would be reading the
[code]

[code]

[2019-02-12 16:46] #167 closed

[2019-02-16 22:31] MohamedAliRashad commented on #89
This issue needs to be reopened because it still hasn't been fixed at least for me ....

[2019-02-17 02:39] bahaa96 commented on #89
Brother, We're no longer using images we are just using new fonts it's just heavy we are working on optimizing these fonts to load faster.

[2019-02-17 03:37] tifa2UP commented on #89
@MohamedAliRashad that occurred because our API was down. Should be working as expected now. Feel free to reopen the ticket if you're still experiencing it

[2019-02-17 09:21] MohamedAliRashad commented on #89
@tifa2UP it's up and running .... thanks :-)

[2019-02-21 01:00] piraka9011 commented on #187
#193 Fixes this.

[2019-02-21 01:00] #187 closed

[2019-03-09 12:58] bahaa96 commented on #178
Oh old one. I noticed that while I was working on our latest problem with the server and the cors and wanted to ask you what do you think the best way to do this ? Should we start asking for the demographics before any kinda recitation or we only need to send the ID related_demographics with the recording.

[2019-03-09 16:07] tifa2UP commented on #178
We'll actually have a slightly newer UI that @moumen-soliman will be working on to push people to share their demographic info. The design is in sketch cloud.

We don't have to worry about this for now, closing the issue but feel free to reopen

[2019-03-09 16:07] #178 closed

[2019-04-01 19:59] mmayet opened #200 "Session isn't stored or saved"
![Screenshot_20190401-125548~2](https://user-images.githubusercontent.com/6694374/55355652-c5577880-547d-11e9-8bd5-8e4e53dd1601.png)

Both chrome on Windows and Android 9 don't seem to save my profile? I see the ayāt counter go up, but my profile is always empty.

https://www.tarteel.io/profile/%7B%60https://facebook.com/sharer/sharer.php?u=https://www.tarteel.io/profile/${sessionKey}`}

That's th

[2019-04-01 20:00] mmayet commented on #200
The actual link of current page: https://www.tarteel.io/profile/undefined

The verses are incrementing so idk

[2019-04-01 20:06] piraka9011 commented on #200
Hmm interesting, will investigate.

[2019-04-02 12:39] piraka9011 commented on #200
@bahaa96 API is [sending](https://github.com/Tarteel-io/tarteel-api/blob/68ad058d53394f727b87adb5311e74bbfdcec7d7/restapi/views.py#L454) the session ID. Is this something with the frontend?

[2019-05-23 20:40] arasdean commented on #188
@piraka9011 it seems like the Demographics ViewSets have been added and merged no?

[2019-05-24 05:06] piraka9011 commented on #188
This was completed and updated yesterday. Check out the other issues or feel free to message me :)

[2019-05-24 05:06] #188 closed

[2019-06-18 15:27] piraka9011 commented on #200
Fixed with recent fixes and refactoring

[2019-06-18 15:27] #200 closed

[2019-06-18 15:29] piraka9011 opened #214 "Travis Setup"
Travis is currently setup to run Django tests and update the server automagically. It does fail sometimes since theres an encryption error somewhere in the pipeline (keyfile is encrypted).

[2019-06-23 19:55] piraka9011 opened #215 "Cleanup File URLs"
Some of the file URLs of the `AnnotatedRecording` Model have some extra query strings which are unnecessary.
ex. 'https://tarteel-data.s3.amazonaws.com/media/2_189_145002153_dSs5DRg.wav?AWSAccessKeyId=...&Signature=...&Expires=...'

The string should just be: https://tarteel-data.s3.amazonaws.com/media/2_189_145002153_dSs5DRg.wav'

[2019-08-01 14:41] #214 closed

[2019-08-01 14:45] piraka9011 opened #224 "Juz information"
User Story: As a developer, I should be able to pull the corresponding Surahs and Ayahs associated with a Juz.
Implementation: Add a foreign key or int/ID to a Juz model that links Surahs and Ayahs to their respective Juz.

[2019-08-01 14:45] piraka9011 commented on #157
Implemented in API, time to update frontend.

[2019-08-01 14:45] #157 closed

[2019-09-18 19:06] piraka9011 opened #239 "Fixtures for Profile tests"
As a Tarteel API user, I want to make sure that the API is functioning correctly by running the built in Django tests.

This will be used for making sure our new API documentation conveys correct information to developers and for CI/CD.

Django fixtures are documented [here](https://code.djangoproject.com/wiki/Fixtures). The specific test in question is for the `POST v1/accounts/` URL.

[2019-09-19 11:39] shafi-sohail commented on #215
@piraka9011 Hey,
I want to take up this issue.   However, I'm new to opensource contribution and have a few questions.

Will I need to setup the whole environment for this one issue?
I am not able to locate the required file URLs.
If I understood correctly the steps are first to fork repo, make changes, submit pull request.

[2019-09-19 14:57] piraka9011 commented on #215
@shafi-sohail welcome to open source :)
I recommend you take a look at [Django](https://docs.djangoproject.com/en/2.2/intro/) and familiarize yourself with it as well as [regex](https://www.tutorialspoint.com/python/python_reg_expressions.htm).
Yes, you will have to setup your environment to test is out completely, however, I recommend you just create a simple proof of concept (PoC) python file in

[2019-09-19 14:57] #179 closed

[2019-09-20 07:06] shafi-sohail commented on #215
@piraka9011

What should I do after? Should I just add that file in my forked repo and submit pull request?

BTW is the issue in the file https://d2sf46268wowyo.cloudfront.net/datasets/tarteel_v1.0.csv
in `Tarteel-ML/download.py`?

[2019-10-02 04:10] piraka9011 commented on #215
@shafi-sohail Yes, add the file in the forked repo, create a PR, and then we can review the changes before merging.

I don't think the file has to do anything with it, rather it's with the naming of the recordings in the DB.